.form-control{
    box-shadow:none;   
}

label{
    font-weight:300;
    font-size:0.75em;
    margin-bottom:0px;
}

input[type='text']{
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    background-color: #F5F5F5;
    padding-left: 1em;
    border: 1px solid #E5E5E5;
    outline: none;
    box-shadow:none;
    font-weight:300;

    &:focus{
        outline:none;
    }

    &:active{
        outline:none;
    }
}

input[type='text']#setPassword + button,
.hideShowPassword-toggle{
    color:#ADBCC5;  
    background-color:transparent;
    border:none;
    background-image:none;
    font-size:0.75em;
    text-transform: uppercase;
    font-weight:bold;
}

//VALIDATION STATES

.has-success .form-control{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:right;
}